{% extends "index2.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}About - Emma Portfolio{% endblock %}
{% block content %}
<section class="container text-light">
    <div class="container">
        <h1 class=" ">Contact</h1>
        <p>Here you can add information on projects done so far.</p>
        <!-- Add more content as needed -->
        <form method="POST" novalidate >

            <ul>
                <li><label for="name">Name: </label>
                <input type="text" class="form-control" id="name" name="name"><br>
                </li>

                <li><label for="email">Email: </label>
                <input type="email" class="form-control" id="email" name="email"><br>
                </li>
                <li>
                <label for="message">Message: </label>
                    <textarea id="message" class="form-control" name="message"></textarea><br>
                </li>
                <li class="button">
                    <button type="submit">Send</button>
                </li>
            </ul>


        </form>
    </div>
</section>
{% endblock %}